/* --- Geomajas GWT client css main style --- */
.measureDistancePanel {
    background: #FFFFFF;
    border: 2px solid #D5D5D5;
}
.measureDistancePanel div.measureDistancePanelHeader {
}
.measureDistancePanelContent {
}
.measureDistancePanel .measureDistancePanelContent div {
    padding-left: 3px;
    margin-top: 2px;
    margin-bottom: 3px;
}

